body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select
{
    max-width: 280px;
}


/*********Navigation Bar**********/
.navbar{
    background-color: #023A50;
}

#imgLogo{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;
}

#searchBar{
    margin-top: 13px;
    margin-left: 40px;
    width: 250px;
}

#btnSearch, #btnLogout{
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 45px;
}

#btnLoginNav{
    margin-top: 13px;
    margin-left: 10px;
}

#currentUserArea{
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

#iconProfile{
    color: #ffffff;
    margin-left: 10px;
}

#homeNavLinks{
    margin-left: 50px;
}

span.badge{
    background-color: #ff0000;
    margin-left: -6px;
}

.glyphicon-bell{
    font-size: 20px;
}

.glyphicon-home{
    font-size: 16px;
}

.glyphicon-user{
    font-size: 20px;
    float: left;
}


.btnNotif{
    height: 35px;
    width: 50px;
}

#btnHome{
    margin-top: 13px;
    margin-left: 20px;
    height: 35px;
}

#btnProfile{
    margin-top: 13px;
    margin-left: 10px;
    height: 35px;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

.groupNotif{
    margin-top: 13px;
    margin-left: 10px;
}

.pull-right > .dropdown-menu {
    right: auto;
}

.btn .badge {
    top: -11px;
    left: -10px;
}

#txtButtonUser{
    vertical-align: middle;
}


/**********Register and Login Panel**********/
#loginPanel, #registerPanel{
    margin-top: 35px;
    margin-bottom: 50px;
}

#loginPanel{
    width: 530px;
}

#registerPanel{
    width: 600px;
}

.panel-primary > .panel-heading{
    background-color: #0079CF;
    font-size: 25px;
}

#bodyRegister{
    padding-left: 40px;
}

#bodyLogin{
    padding-left: 30px;
}

.formField{
    padding: 7px;
}

#btnLogin, 
#btnRegister, 
#btnLogout, 
#btnHome, 
#btnSearch, 
#btnEditPicture, 
#btnLoginNav, 
#btnPostFeed, 
#btnPostTimeLine,
#btnProfile,
#headerAboutMe#notifButton,
#btnEditAboutMe,
#btnSubmitAboutMe,
.btnComment,
.btnCommentTL,
.btnMenu,
.btnNotif,
.btnViewProfile,
.btnModal{
    background-color: #0079CF;
}

#btnLogin {
    width: 200px;
}

#btnRegister {
    width: 300px;
}

#imgRegister{
    height: 500px;
    background-color: #0079CF;
    margin-top: 35px;
}

#btnAddFriend{
    background-color: #0079CF;
    margin-left: 20px;
    width: 300px;
}


/**********Profile Banner**********/
.btnfriendStatus{
    margin-left: 40px;
}

#profileBanner{
    width: 80%;
    height: 244px;
    margin-top: 35px;
    background-color: #BBD9F0;
}

#friendBanner{
    height: 244px;
    margin-top: 35px;
    background-color: #BBD9F0;
}

#imgProfile{
    height: 170px;
    width: 170px;
    margin-left: 40px;
}

#btnEditPicture{
    margin-left: 50px;
    margin-top: 5px;
    width: 150px;
    height: 30px;
}

#txtfullName{
    font-size: 50px;
    padding-left: 50px;
}

#txtuserName{
    font-size: large;
    font-style: italic;
    padding-left: 20px;
}

#txtEmail{
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    color: #023A50;
    text-decoration: none;
    pointer-events: none;
}

#txtEmailEdit{
    text-decoration: none;
    pointer-events: none;
}



/******** Basic Information and About Me************/
#wellBasicInfo, #wellAboutMe{
    width: 400px;
}

#wellBasicInfo{
    background-color: #BBD9F0;
}

#wellAboutMe{
    background-color: #BBD9F0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#headerAboutMe, #headerBasicInfo{
    font-size: 20px;
    font-weight: bolder;
}

/**********Menu Navigation**********/
#wellMenu{
    width: 18%;
    height: 244px;
    margin-top: 35px;
    background-color: #D4E1EE;
    margin-left: 15px;
}

#wellMenuFeed{
    width: 18%;
    height: 244px;
    margin-top: -242px;
    background-color: #D4E1EE;
    float: right;
}

.btnMenu{
    width: 140px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 7px;
    margin-left: 10px;
    text-align: left;
}

.iconMenu{
    margin-right: 5px;
}

#settingsMenu{
    margin-top: 35px;
}

#settingsContent{
    margin-top: 35px;
}

#dropSettings {
    margin-top: -48px;
    margin-left: 35px;
}

.settingsIcon{
    margin-right: 10px;
    font-size: 16px;
}

.dropSettingsText{
    font-size: 16px;
}


/**********Post Area**********/
#wellPostArea{
    background-color: #87B5DB;
    width: 70%;
    height: 220px;
}

#wellPostAreaFeed{
    background-color: #87B5DB;
    width: 70%;
    height: 220px;
    margin-top: 35px;
}

#wellPostProfileArea{
    background-color: #699CCE;
    width: 742px;
    height: 220px;
    margin-left: 15px;
}

#txtAreaPostFeed, #txtAreaPostTimeLine{
    width: 100%;
    height: 100px;
    resize: none;
}

#wellPostFeed{
    background-color: #E6F3F6;
    width: 70%;
}

#btnPostFeed, #btnPostTimeLine{
    width: 150px;
    margin-top: 10px;
    background-color: #0079CF;
}

#txtPost{
    font-weight: bolder;
}

#wellPostTimeline{
    background-color: #E6F3F6;
    width: 742px;
    margin-left: 15px;
}

.glyphicon-arrow-right{
    color: #0079CF;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.txtPoster{
    font-size: 25px;
    font-weight: bolder;
}

.postContent{
    font-size: 20px;
    font-weight: bolder;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.btnLike{
    width: 105px;
    height: 40px;
    float: right;
    margin-right: 7px;
}

.txtAreaComment{
    resize: none;
    width: 85%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.txtAreaCommentTL{
    resize: none;
    width: 83%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.btnComment, .btnCommentTL{
    height: 45px;
    width: 105px;
    font-size: 18px;
    text-align: center;
    margin-left: 3px;
    margin-top: 10px;
}

.txtCommentor{
    font-size: 16px;
    margin-top: 10px;
}

#btnStart{
    vertical-align: middle;
    margin-top: 13px;
    margin-left: 20px;
    height: 35px;
}

ul.dropdown-menu{
    max-height: 370px;
    overflow-y: auto;
}

div.col-md-4{
    padding-left: 0;
}

.txtComment{
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.btnViewProfile{
    width: 200px;
    margin-left: 20px;
    margin-top: 15px;
}

#btnAcceptRequest, #btnIgnoreRequest{
    margin-left: 10px;
    margin-top: 15px;
}

#btnAcceptRequestP, #btnIgnoreRequestP{
    margin-left: 10px;
}

.headerSearch{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 35px;
}

#btnViewPost{
    word-spacing: 0px;
}

#wellSpecificPost{
    margin-top: 35px;
}

/**********Notifications**********/
.notifLinks{
    max-width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

.wellNotif{
    width: 75%;
}

#headerNotif{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 35px;
}
.notifStar, .notifComment, .notifFriend{
    font-size: 30px;
    float:left;
    margin-right: 10px;
}

.notifStarSM, .notifCommentSM, .notifFriendSM{
    font-size: 20px;
    float:left;
    margin-right: 10px;
}

.notifStar, .notifStarSM{
    color: #fce800;
}

.notifComment, .notifCommentSM{
    color: #00ff21;
}

.notifFriend, .notifFriendSM{
    color: #0079CF;
}

/***********Edit About Me***********/
#txtareaEditAboutMe{
    width: 100%;
    height: 200px;
    resize: none;
}

.modal-header{
    font-size: 30px;
    font-weight: bolder;
}
