body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select
{
    max-width: 280px;
}


/**********************************************************************/
#imgLogo{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;
}

.navbar{
    background-color: #023A50;
}

#loginPanel, #registerPanel{
    margin-top: 35px;
    margin-bottom: 50px;
}

#loginPanel{
    width: 530px;
}

#registerPanel{
    width: 600px;
}

.panel-primary > .panel-heading{
    background-color: #0079CF;
    font-size: 25px;
}

#bodyRegister{
    padding-left: 40px;
}

#bodyLogin{
    padding-left: 30px;
}

.formField{
    padding: 7px;
}

#btnLogin, #btnRegister, #btnAddFriend{
    background-color: #0079CF;
}

#btnLogin {
    width: 200px;
}

#btnRegister {
    width: 300px;
}

#btnAddFriend{
    margin-left: 20px;
    width: 300px;
}

#imgRegister{
    height: 500px;
    background-color: #0079CF;
    margin-top: 35px;
}

#profileBanner{
    width: 80%;
    height: 244px;
    margin-top: 35px;
    background-color: #BBD9F0;
}

#friendBanner{
    height: 244px;
    margin-top: 35px;
    background-color: #BBD9F0;
}

#imgProfile{
    height: 170px;
    width: 170px;
    margin-left: 40px;
}

#btnEditPicture{
    margin-left: 50px;
    margin-top: 5px;
    width: 150px;
    height: 30px;
}

#txtfullName{
    font-size: 50px;
    padding-left: 50px;
}

#txtuserName{
    font-size: large;
    font-style: italic;
    padding-left: 20px;
}

#txtEmail{
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    color: #023A50;
}


#wellBasicInfo, #wellAboutMe{
    width: 400px;
}

#wellBasicInfo{
    background-color: #BBD9F0;
}

#wellAboutMe{
    background-color: #BBD9F0;
}

#wellMenu{
    width: 18%;
    height: 180px;
    margin-top: 35px;
    background-color: #D4E1EE;
    margin-left: 15px;
}

#wellPostArea{
    background-color: #87B5DB;
    width: 70%;
    height: 220px;
}

#wellPostProfileArea{
    background-color: #699CCE;
    width: 700px;
    height: 220px;
    margin-left: 40px;
}

#txtAreaPostFeed, #txtAreaPostTimeLine{
    width: 100%;
    height: 100px;
    resize: none;
}

#wellPostFeed{
    background-color: #E6F3F6;
    width: 70%;
}

#btnPostFeed, #btnPostTimeLine{
    width: 150px;
    margin-top: 10px;
    background-color: #0079CF;
}

#txtPost{
    font-weight: bolder;
}

#wellPostTimeline{
    background-color: #E6F3F6;
    width: 700px;
    margin-left: 40px;
}


.btnMenu{
    width: 150px;
    height: 50px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 5px;
    text-align: left;
}

.iconMenu{
    margin-right: 5px;
}

#searchBar{
    margin-top: 13px;
    margin-left: 40px;
    width: 250px;
}

#btnSearch, #btnLogout{
    margin-top: 13px;
    margin-left: 10px;
}

#currentUserArea{
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

#iconProfile{
    color: #ffffff;
    margin-left: 10px;
}

#homeNavLinks{
    margin-left: 50px;
}


.btnViewProfile{
    width: 200px;
    margin-left: 20px;
}

span.badge{
    background-color: #ff0000;
    margin-left: -6px;
}

.glyphicon-bell{
    font-size: 20px;
}

.glyphicon-home{
    font-size: 16px;
}

.glyphicon-user{
    font-size: 20px;
    float: left;
}


.btnNotif{
    height: 35px;
    width: 50px;
}

#btnHome{
    margin-top: 13px;
    margin-left: 20px;
    height: 35px;
}

#btnProfile{
    margin-top: 13px;
    margin-left: 10px;
    height: 35px;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

.groupNotif{
    margin-top: 13px;
    margin-left: 10px;
}

.pull-right > .dropdown-menu {
    right: -322px;
    left: auto;
}

.btn .badge {
    top: -11px;
    left: -3px;
}

#txtButtonUser{
    vertical-align: middle;
}

.glyphicon-arrow-right{
    color: #0079CF;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.txtPoster{
    font-size: 25px;
    font-weight: bolder;
}

.postContent{
    font-size: 20px;
    font-weight: bolder;
}

.btnLike{
    width: 105px;
    height: 40px;
    float: right;
}

.txtAreaComment{
    resize: none;
    width: 85%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.txtAreaCommentTL{
    resize: none;
    width: 82%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btnComment, .btnCommentTL{
    height: 45px;
    width: 105px;
    font-size: 18px;
    text-align: center;
    margin-left: 3px;
    margin-top: 20px;
}

.txtCommentor{
    font-size: 16px;
}

#btnStart{
    vertical-align: middle;
    margin-top: 13px;
    margin-left: 20px;
    height: 35px;
}