@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>PasteBook</h1>
    <p>Cannot find a wall to paste something? Want to find friends? Share thoughts and ideas to other people?</p>
    <p>Introducing the new platform for pasting something on a virtual wall and even find friends who share same thoughts with you.</p>
    <p>Paste what you feel. Paste what you want. Paste anytime. Paste anywhere<p>
    <p>Register now for free.</p>
</div>


