@model PasteBook.Models.FriendsViewModel

<div>
    <h1>Friends</h1>

    @{
        foreach (var item in Model.FriendList)
        {
                <div id="profileBanner" class="well well-lg col-md-9">
                    <div class="row formField">
                        <div class="col-md-3">
                            <img id="imgProfile" src="~/Content/Images/pastebookDefaultImage.png" class="img-thumbnail img-responsive" alt="Profile Picture">
                        </div>

                        <div id="txtfullName" class="col-md-9">
                            <div class="row formField">
                                <div class="col-md-12">
                                    <p>@item.FRIEND_NAME</p>
                                </div>
                                <button class="btnViewProfile btn btn-primary" onclick="location.href='@Url.Action("UserProfile", "PasteBookApp", new { userID = @item.FRIEND_USER_NAME})'">View Profile</button>
                            </div>
                        </div>
                    </div>
                </div>
        }
    }
</div>
